.ios, .md {

    search-page {

        ion-content {
            background-color: darkblue;
        }

        ion-label {
            color: #fff;
        }

        ion-item {
            color: #fff;
            padding: 10px;
            background-color: #acbebf;
        }

    } 

}